body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    color: white;
    max-width: 720px;
    text-align: center;
    margin-top: 10%;
}

#tm{
    font-family: 'Merriweather', serif;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}


#button{
    color: white;
    font-size: 200%;
}

#button:hover{
    transition: 0.1s;
    opacity: 0.5;
    cursor: pointer;
    text-decoration:none;
    color:  #2193b0;
}

#para{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

#header{
    font-family: 'Merriweather', serif;
    font-weight: 700;
}